body {
  margin: 0;
  padding: 0;
  font-family: serif;
}

h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.intro {
  width: 770px;
  margin: auto;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  background-image: url(topola.jpg);
  background-size: cover;
  background-position: 0% 20%;
  position: fixed;
  z-index: -100;
  filter: blur(8px) opacity(30%);
  -webkit-filter: blur(8px) opacity(30%);
}